CalculatorApp/bin/Debug/netcoreapp2.2/CalculatorApp.runtimeconfig.json
CalculatorApp/bin/Debug/netcoreapp2.2/CalculatorApp.deps.json
CalculatorApp/bin/Debug/netcoreapp2.2/CalculatorApp.dll
CalculatorApp/bin/Debug/netcoreapp2.2/CalculatorApp.pdb
CalculatorApp/bin/Debug/netcoreapp2.2/CalculatorApp.runtimeconfig.dev.json
CalculatorApp/obj/CalculatorApp.csproj.nuget.cache
CalculatorApp/obj/CalculatorApp.csproj.nuget.dgspec.json
CalculatorApp/obj/CalculatorApp.csproj.nuget.g.props
CalculatorApp/obj/CalculatorApp.csproj.nuget.g.targets
CalculatorApp/obj/project.assets.json
CalculatorApp/obj/Debug/netcoreapp2.2/CalculatorApp.AssemblyInfo.cs
CalculatorApp/obj/Debug/netcoreapp2.2/CalculatorApp.AssemblyInfoInputs.cache
CalculatorApp/obj/Debug/netcoreapp2.2/CalculatorApp.assets.cache
CalculatorApp/obj/Debug/netcoreapp2.2/CalculatorApp.csproj.CoreCompileInputs.cache
CalculatorApp/obj/Debug/netcoreapp2.2/CalculatorApp.csproj.FileListAbsolute.txt
CalculatorApp/obj/Debug/netcoreapp2.2/CalculatorApp.csprojAssemblyReference.cache
CalculatorApp/obj/Debug/netcoreapp2.2/CalculatorApp.dll
CalculatorApp/obj/Debug/netcoreapp2.2/CalculatorApp.pdb
CalculatorTests/obj/CalculatorTests.csproj.nuget.cache
CalculatorTests/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
CalculatorTests/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
CalculatorTests/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
CalculatorTests/obj/CalculatorTests.csproj.nuget.dgspec.json
CalculatorTests/obj/CalculatorTests.csproj.nuget.g.props
CalculatorTests/obj/CalculatorTests.csproj.nuget.g.targets
CalculatorTests/obj/project.assets.json
CalculatorTests/obj/Debug/netcoreapp2.2/CalculatorTests.assets.cache
CalculatorTests/bin/Debug/netcoreapp2.2/CalculatorTests.runtimeconfig.json
CalculatorTests/bin/Debug/netcoreapp2.2/CalculatorApp.dll
CalculatorTests/bin/Debug/netcoreapp2.2/CalculatorApp.pdb
CalculatorTests/bin/Debug/netcoreapp2.2/CalculatorTests.deps.json
CalculatorTests/bin/Debug/netcoreapp2.2/CalculatorTests.dll
CalculatorTests/bin/Debug/netcoreapp2.2/CalculatorTests.pdb
CalculatorTests/bin/Debug/netcoreapp2.2/CalculatorTests.runtimeconfig.dev.json
CalculatorTests/obj/Debug/netcoreapp2.2/CalculatorTests.csproj.CopyComplete
CalculatorTests/obj/Debug/netcoreapp2.2/CalculatorTests.csproj.CoreCompileInputs.cache
CalculatorTests/obj/Debug/netcoreapp2.2/CalculatorTests.csproj.FileListAbsolute.txt
CalculatorTests/obj/Debug/netcoreapp2.2/CalculatorTests.csprojAssemblyReference.cache
CalculatorTests/obj/Debug/netcoreapp2.2/CalculatorTests.dll
CalculatorTests/obj/Debug/netcoreapp2.2/CalculatorTests.pdb
obj/project.assets.json
obj/StringCalculator.csproj.nuget.cache
obj/StringCalculator.csproj.nuget.dgspec.json
obj/StringCalculator.csproj.nuget.g.props
obj/StringCalculator.csproj.nuget.g.targets
obj/Debug/netcoreapp2.2/StringCalculator.assets.cache
obj/Debug/netcoreapp2.2/StringCalculator.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/StringCalculator.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/StringCalculator.csprojAssemblyReference.cache
